* {
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  margin: 0 -5px;
}
/* .container:after {
  content: "";
  display: table;
  clear: both;
} */
.column{
  float: left;
  width: 25%;
  padding: 0 10px;
}
.overflow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.image{
  width: 60%;
  margin-bottom: -16px;
}
.body-info{
  font-weight: lighter;
  font-size: 1rem;
}
.body-info h1{
  margin-top: 15px;
  font-size: 1rem;
}